<!-- MyComponent.vue -->

<!-- css -->
<style>
  .message {
    color: red;
  }
</style>

<!-- template -->
<template>
  <div class="message">{{ message }}</div>
</template>

<!-- js -->
<script type="text/javascript" src="../src/app.js"></script>